{# 
    Required parameters:
        - form : the FormView to display

    Optional parameters:
        - readonly : specifies if form fields should be ReadOnly
#}

{# Tests if readonly is set and if it is boolean, sets it as false by default #}
{% if readonly is not defined or (readonly is not same as true and readonly is not same as false) %}
    {% set readonly = false %}
{% endif %}

{{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { 'attr': {'readonly': readonly }}) }}
    <div class="actions"><i class="fas fa-copy"></i></div>

    {{ form_label(form.username) }}
    {{ form_widget(form.username, { 'attr': {'readonly': readonly }}) }}
    <div class="actions"><i class="fas fa-copy"></i></div>

    {% if readonly %}
        {% set autocomplete = 'off' %}
    {% else %}
        {% set autocomplete = 'new-password' %}
    {% endif %}
    {{ form_label(form.password) }}
    {{ form_widget(form.password, { 
        'attr': {
            'readonly': readonly,
            'autocomplete': autocomplete,
        },
    }) }}
    <div class="actions"><i class="fas fa-copy"></i></div>

        {{ form_label(form.link) }}
    {{ form_widget(form.link, { 'attr': {'readonly': readonly }}) }}
    <div class="actions"><i class="fas fa-copy"></i></div>

    {% if not readonly %}
        {{ form_widget(form.register, { 'attr': {'class': 'btn' }}) }}
    {% endif %}
{{ form_end(form, {'render_rest': false }) }}
