{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_link_tags('credentials_form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
    {{ encore_entry_script_tags('credentials_form') }}
{% endblock %}

{% block content %}
    <div id="header">
        {% set credentialId = form.vars.data.id %}
        <a class="btn previous" href="{{ path('read-credential', {'id': credentialId }) }}"><i class="fas fa-angle-left"></i> Previous</a>
        <div class="title">Edit</div>
    </div>

    {{ include('credentials/form/_form.html.twig', { 'form': form}) }}
{% endblock %}