{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('credentials_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('credentials_list') }}
{% endblock %}

{% block content %}
    <div id="header">
        <a href="{{ path('create-credential') }}" class="btn"><i class="fas fa-plus"></i> New</a>
        <input placeholder="Search (Work In Progress)" type="text"/>
    </div>

<div class="page">
    {{ include('main/_pagination.html.twig', {'form': pageSelectionForm}) }}

    <div class="display-block">
        {% for credential in credentials %}
            {{ component('credentials/element', { credential: credential }) }}
        {% endfor %}
    </div>
</div>
{% endblock %}