{# 
    Required parameters :
        - active_element : defines the nav element that will be in active state
        - nav_elements : defines the available nav elements
#}

<div class="sidenav">
    <div class="logo">
        <p>My app logo here</p>
    </div>

    {% set sidenav_element_template = 'main/sidenav/_element.html.twig' %}
    
    {{ include(sidenav_element_template, { 
        'name': nav_elements.DASHBOARD,
        'url': path('dashboard'),
        'active_element': active_element,
        'logo': '<i class="fas fa-home vertical-center"></i>',
        })
    }}

    {{ include(sidenav_element_template, {
        'name': nav_elements.FINANCIALS,
        'url': '#',
        'active_element': active_element,
        'logo': '<i class="fas fa-coins vertical-center"></i>',

        })
    }}

    {{ include(sidenav_element_template, { 
        'name': nav_elements.CALENDAR, 
        'url': '#',
        'active_element': active_element,
        'logo': '<i class="fas fa-calendar-alt vertical-center"></i>',
        })
    }}

    {{ include(sidenav_element_template, { 
        'name': nav_elements.CREDENTIALS, 
        'url': path('credentials'),
        'active_element': active_element,
        'logo': '<i class="fas fa-lock vertical-center"></i>',
        })
    }}

    {{ include(sidenav_element_template, { 
        'name': nav_elements.HELP, 
        'url': '#',
        'active_element': active_element,
        'logo': '<i class="fas fa-question vertical-center"></i>',
        })
    }}
</div>
