{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ asset('css/credentials/read.css') }}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="header">
        <a class="btn previous" href="{{ path('credentials') }}"><i class="fas fa-angle-left"></i> Previous</a>
        <div class="title">Details</div>
        <div class="align-right">
            <a class="btn" href="{{ path('edit-credential', {'id': id}) }}"><i class="fas fa-edit"></i></a>
            <a class="btn bg-warning" href="{{ path('delete-credential', {'id': id})}}"><i class="delete-action fas fa-trash"></i></a>
        </div>
    </div>

    {{ include('credentials/_form.html.twig', { 'form': form}) }}
{% endblock %}