{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ asset('css/credentials/_form.css') }}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="header">
        <a class="btn previous" href="{{ path('credentials') }}"><i class="fas fa-angle-left"></i> Previous</a>
        <div class="title">Edit</div>
    </div>

    {{ include('credentials/_form.html.twig', { 'form': form}) }}
{% endblock %}