{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/credentials/header.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ asset('css/credentials/list.css') }}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="header">
        <a href="{{ path('create-credential') }}" class="btn"><i class="fas fa-plus"></i> New</a>
        <input placeholder="Search (Work In Progress)" type="text"/>
    </div>
    <div class="display-block">
        {% for credential in credentials %}
            {{ include('credentials/list/_element.html.twig', {'credential': credential}) }}
        {% endfor %}
    </div>
{% endblock %}