{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ asset('css/credentials/view.css') }}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/b247ef6678.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'readonly': true }}) }}
        <div class="actions"><i class="fas fa-copy vertical-center"></i></div>

        {{ form_label(form.username) }}
        {{ form_widget(form.username, { 'attr': {'readonly': true }}) }}
        <div class="actions"><i class="fas fa-copy vertical-center"></i></div>

        {{ form_label(form.password) }}
        {{ form_widget(form.password, { 'attr': {'readonly': true }}) }}
        <div class="actions"><i class="fas fa-copy vertical-center"></i></div>

        {{ form_label(form.link) }}
        {{ form_widget(form.link, { 'attr': {'readonly': true }}) }}
        <div class="actions"><i class="fas fa-copy vertical-center"></i></div>
    {{ form_end(form) }}
{% endblock %}