{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/b247ef6678.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class= >
    {{ form(form) }}
    </div>
    {# <div>{{ credential.username }}</div>
    <div>{{ credential.password }}</div>
    <div>{{ credential.link }}</div> #}
{% endblock %}