{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sidenav') }}
    {#<link href="{{ asset('css/sidenav.css') }}" rel="stylesheet" media="screen"/>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sidenav') }}
    <script src="https://kit.fontawesome.com/b247ef6678.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    {#
    {{ include('main/_sidenav.html.twig', { 'active_element': active_nav_element, 'nav_elements': nav_elements }) }}
    #}
    {{ component('sidenav/sidenav') }}

    <div class="content">
        {% block content %}
            app
        {% endblock %}
    </div>

{% endblock %}